.contenedor-responsive {
    margin-bottom: 20px;
    width: 95%;
    max-width: 1020px;
    margin-left: 20px;
    margin-right: auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow-x: hidden;
}

    .contenedor-responsive:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    }

/* Para pantallas muy grandes */
@media screen and (min-width: 1400px) {
    .contenedor-responsive {
        max-width: 1400px; /* Aumentado para pantallas muy grandes */
        width: 90%; /* Ancho relativo para adaptarse mejor */
        margin-left: 2%; /* Margen izquierdo proporcional */
        padding: 25px;
    }
}

/* Para pantallas gigantes */
@media screen and (min-width: 1800px) {
    .contenedor-responsive {
        max-width: 1600px;
        width: 85%;
        margin-left: 3%;
        padding: 30px;
    }
}
