@{
    ViewBag.Title = "Confirmación de contraseña olvidada";
}

<main aria-labelledby="title">
    <hgroup class="title">
        <h1 id="title">@ViewBag.Title</h1>
    </hgroup>
    <div>
        <p>
            Por favor revise su correo electrónico para restablecer su contraseña
        </p>
    </div>
</main>
