@model ProyectoClinica.Models.ShowNewPasswordViewModel

@{
    ViewBag.Title = "ForgotPasswordConfirmation";
}

<h2>Su nueva contraseña</h2>
<p>Correo: @Model.Email</p>
<p>Contraseña temporal: <strong>@Model.TemporaryPassword</strong></p>
<p>Por favor, cambie su contraseña después de iniciar sesión.</p>
<a href="@Url.Action("Login", "Account")">Ir a iniciar sesión</a>

