@{
    ViewBag.Title = "Restablecer contraseña";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>

    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Restablecer su contraseña</h4>
        <hr />

        <input type="hidden" name="email" value="@ViewBag.Email" />

        <div class="row">
            <label class="col-md-2 col-form-label">Nueva contraseña</label>
            <div class="col-md-10">
                <input type="password" name="password" class="form-control" required />
            </div>
        </div>
        <div class="row">
            <label class="col-md-2 col-form-label">Confirmar contraseña</label>
            <div class="col-md-10">
                <input type="password" name="confirmPassword" class="form-control" required />
            </div>
        </div>
        <div class="row">
            <div class="offset-md-2 col-md-10">
                <input type="submit" class="btn btn-outline-dark" value="Reiniciar" />
            </div>
        </div>
    }
</main>
