@{
    ViewBag.Title = "Confirmación de restablecimiento de contraseña";
}
<style>
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background-color: #b2ebf2;
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding: 20px;
    }

    .form-container {
        background-color: white;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        max-width: 600px;
        width: 100%;
        max-height: 90vh;
        overflow-y: auto;
    }

    h1 {
        margin-bottom: 20px;
        text-align: center;
        color: #0b7b82;
        font-size: 24px;
    }

    p {
        text-align: center;
        color: #555;
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 1.5;
    }

    a {
        color: #3bb4bc;
        text-decoration: none;
        font-weight: bold;
    }

        a:hover {
            text-decoration: underline;
        }
</style>

<main aria-labelledby="title">
    <div class="form-container">
        <h1 id="title">@ViewBag.Title</h1>
        <div>
            <p>
                Tu contraseña ha sido restablecida. Por favor @Html.ActionLink("Haga clic aquí para Seguir", "PerfilSEC", "Perfil", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>
    </div>
</main>